<?xml version="1.0"?>
<!--
/**
* @author KarenRumbie
* @copyright Copyright © Karen Rumbie creatives
* @package KarenRumbie_AddToCartPopup
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <addtocartpopup>
            <config_general>
                <addtocartpopup_labeldisplay>1</addtocartpopup_labeldisplay>
                <platform_labeldisplay>0</platform_labeldisplay>
            </config_general>
        </addtocartpopup>
    </default>
</config>