<?xml version="1.0" ?>
<!--
/**
* @author Karen Rumbie
* @copyright Copyright © Karen Rumbie creatives
* @package KarenRumbie_AddToCartPopup
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="karenrumbie" sortOrder="0" translate="label">
			<label>Karen Rumbie</label>
		</tab>
        <section id="addtocartpopup" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="10" translate="label">
            <label>Add To Cart Popup</label>
            <tab>karenrumbie</tab>
            <resource>KarenRumbie_AddToCartPopup::config_karenrumbie_addtocartpopup</resource>
            <group id="config_general" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                <label>General</label>
                <field id="addtocartpopup_enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="0" translate="label" type="select">
					<label>Enable Add to cart popup</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
            </group>
        </section>
    </system>
</config>